# Sample notebook
This is a sample notebook to load data

In [1]:
# The code was removed by Watson Studio for sharing.

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,emp_title,emp_length,home_ownership,...,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,disbursement_method,debt_settlement_flag
0,2500,2500,2500,36 months,13.56,84.92,C,Chef,10+ years,RENT,...,0.0,1,0,60124,16901,36500,18124,N,Cash,N
1,30000,30000,30000,60 months,18.94,777.23,D,Postmaster,10+ years,MORTGAGE,...,0.0,1,0,372872,99468,15000,94072,N,Cash,N
2,5000,5000,5000,36 months,17.97,180.69,D,Administrative,6 years,MORTGAGE,...,0.0,0,0,136927,11749,13800,10000,N,Cash,N
3,4000,4000,4000,36 months,18.94,146.51,D,IT Supervisor,10+ years,MORTGAGE,...,100.0,0,0,385183,36151,5000,44984,N,Cash,N
4,30000,30000,30000,60 months,16.14,731.78,C,Mechanic,10+ years,MORTGAGE,...,0.0,0,0,157548,29674,9300,32332,N,Cash,N

In [ ]:

body = client_0c40be34a95c47ca92970b3a5b2daa55.get_object(Bucket='projectdemo1-donotdelete-pr-unt5jk5ac2fgxd',Key='UCI Bank Marketing Data Set.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_2 = pd.read_csv(body)
df_data_2.head()